@{
}
<h1>Create Employee</h1>
<form method="post">
    <input type="text" name="Name"/>
    <input type="text" name="Speciality"/>
    <input type="number" name="Age"/>
    <input type="date" name="EmploymentDate"/>
    <input type="submit"/>
</form>
