@*

*@
@{
    string hi = "hi";
}
<h1><a asp-controller="Employees" asp-action="Details" asp-route-id="1">@hi</a></h1>
<h1><a asp-controller="Employees" asp-action="Edit" asp-route-id="2">edit</a></h1>
<h1><a asp-controller="Employees" asp-action="Delete" asp-route-id="3">delete</a></h1>
<h1><a asp-controller="Employees" asp-action="Create">create</a></h1>
